*{
    margin: 0;
    padding:0;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar > #heading {
    padding: 30px 0 30px 20px;
    display: flex;
    visibility: hidden;
    font-size: 1.5vw;
    font-weight: bold;
    color:darkseagreen;
}

#sidebar {
    width: 10%;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99;
    background: #2c3457;
    color: #fff;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar:hover{
    width: 20%;

    display: flex;
    transition: all 0.3s;

}

#sidebar:hover > #heading{
    visibility: visible;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;

}


#sidebar ul li {
    list-style-type: none;
}
#sidebar ul li a {
    padding: 10px 0 10px 20px;
    /* margin-left: 20px; */
    font-size: 1.1em;
    display: flex;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

#sidebar ul li a p {
    visibility: hidden;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a:hover >p{
    color: #7386D5;
    background: #fff;
}

li a span{
    margin-right: 10px;
}

#sidebar:hover > ul li a  p{
    visibility: visible;
}

@media only screen and (max-width: 760px) {
    #sidebar:hover{
        min-width: 10%;
        max-width: 10%;
    }

#sidebar {
min-width: 10%;

}
#sidebar:hover > ul li a  p{
    visibility: hidden;
}
#sidebar:hover > #heading{
    visibility: hidden;
}
  }

  @media only screen and (min-width: 1024px) {
    #sidebar:hover{
        max-width: 250px;
    }

#sidebar {
max-width: 80px;

}

  }